<!DOCTYPE html>
<html>
  <head>
    <title>Ansprechpersonen</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app">
      <router-view class="view" :activities="activities" :uas="uas"></router-view>
    </div>

    <template id="home-template">
      <div id="home">
        <router-link to="/activities">Activities</router-link>
        <router-link to="/uas">UAs</router-link>
      </div>
    </template>

    <template id="activities-template">
      <div id="activities">
        <table class="table">
          <thead>
            <tr>
              <th>Aktivit&auml;t</th>
              <th>Mitglieder</th>
              <th>Kontaktaddresse</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="activity in activities">
              <td>{{activity.name}}</td>
              <td><span class="name" v-for="member in activity.members">{{member}}</span></td>
              <td>{{activity.email}}</td>
            </tr>
          </tbody>
        </table>

        <p class="info">
          An alle unvollständigen Mailadressen „d120.de“ anhängen.<br>
          Änderungen bitte im (privaten) GitHub eintragen und neu ausdrucken!
        </p>
      </div>
    </template>

    <template id="uas-template">
      <div id="uas">
        <table class="table">
          <thead>
            <tr>
              <th>Unterausschuss</th>
              <th>Mitglieder</th>
              <th>Kontaktaddresse (Studierende)</th>
              <th>Kontaktaddresse (Alle)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="ua in uas">
              <td>{{ua.name}}</td>
              <td><span class="name" v-for="member in ua.members">{{member}}</span></td>
              <td>{{ua.email}}</td>
              <td>{{ua.allmail}}</td>
            </tr>
          </tbody>
        </table>

        <p class="info">
          An alle unvollständigen Mailadressen „d120.de“ anhängen.<br>
          Änderungen bitte im (privaten) GitHub eintragen und neu ausdrucken!
        </p>
      </div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="app.js"></script>
  </body>
</html>
